* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#bg-header-mobile img {
    width: 100%;
    /* max-height: 300px;
    object-fit: cover; */
    position: relative;
    height: 330px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: -183px; */
    position: absolute;
    top: 155px;
    left: 50%;
    right: 50%;
}

.logo img {
    width: 90px;
    margin: 12px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -110px;
}

.content h3 {
    font-size: 30px;
    margin: 5rem 2rem 0 2rem;
    padding: 0 20px 0 20px;
    /* color: hsl(213, 6%, 34%); */
    font-family: "Bai Jamjuree";
    color: hsl(210, 10%, 33%);
    text-align: center;
}

.content p {
    font-size: 18px;
    /* margin: 1.5rem 9rem 0 10rem; */
    margin: 1rem 1rem 0 1rem;
    font-family: "Bai Jamjuree";
    /* color: hsl(206, 12%, 88%); */
    color: hsl(201, 11%, 66%);
    font-family: 400;
    text-align: center;
}

.download-buttons button {
    padding: 15px 60px;
    border-radius: 25px;
    display: block;
    margin: 2rem auto -12px;
    border: none;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    /* box-shadow: 0 0 10px #26bba5; */
}

.download-buttons button:nth-of-type(1) {
    background-color: #26bba5;
    color: hsl(180, 100%, 93%);
    box-shadow: 0 0 10px #26bba5;
    /* margin-bottom: 0; */
}

.download-buttons button:nth-of-type(2) {
    background-color: #6174ff;
    color: hsl(196, 100%, 98%);
    box-shadow: 0 0 10px #6174ff;
}


.advantage-with-image {
    margin: 6rem 0 0 0;
}

.advantage-with-image h3 {
    text-align: center;
    margin: 3rem 1rem 0 1rem;
    padding: auto;
    font-family: "Bai Jamjuree";
    color: hsl(210, 10%, 33%);
    /* border: 1px solid grey; */
    font-size: 30px;
}

.advantage-with-image p {
    font-size: 18px;
    margin: 0.5rem 40px -1rem;
    font-family: "Bai Jamjuree";
    color: hsl(201, 11%, 66%);
    font-family: 400;
    color: hsl(201, 11%, 66%);
    /* text-align: justify; */
    text-align: center;
    /* border: 1px solid greenyellow; */
}

.computer-image,
.image-devices {
    max-width: 280px;
    margin: auto;
    padding: 5rem 0 2rem 0;
    display: block;
}

.advantages h3 {
    margin: auto 2rem;
    padding: 1rem 0 0.5rem 0;
    text-align: center;
    font-family: "Bai Jamjuree";
    color: hsl(210, 10%, 33%);
    font-family: 600;
    font-size: 30px;
}

.advantages p {
    margin: 0 2rem 1rem 2rem;
    font-family: "Bai Jamjuree";
    font-size: 18px;
    font-weight: 400;
    color: hsl(201, 11%, 66%);
    text-align: center;
}

.app-store h3 {
    font-size: 30px;
}

.cfgh {
    margin-top: 4rem;
    margin-left: 1rem;
    font-size: 25px;
}

.advantage-with-icon {
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.cfgh h3 {
    margin: auto 2rem;
    padding: 1rem 0 0.5rem 0;
    text-align: center;
    font-family: "Bai Jamjuree";
    color: hsl(210, 10%, 33%);
    font-family: 600;
    font-size: 30px;
}

.cfgh p {
    margin: 0 2rem 1rem 2rem;
    font-family: "Bai Jamjuree";
    font-size: 18px;
    font-weight: 300;
    color: hsl(201, 11%, 66%);
    text-align: center;
}

.advantage-with-icon {
    padding: 0 5px 0 5px
}

#create-blacklist {
    margin-top: 55px;
}

.advantage-with-icon div {
    padding: 0 5px 0 5px;
}

.advantage-with-icon h3 {
    margin: auto;
    padding: 1rem 0 0.5rem 0;
    text-align: center;
    font-family: "Bai Jamjuree";
    color: hsl(210, 10%, 33%);
    font-family: 600;
    font-size: 30px;
}

.advantage-with-icon p {
    margin: 0 2rem 1rem 2rem;
    font-family: "Bai Jamjuree";
    font-size: 18px;
    font-weight: 300;
    color: hsl(201, 11%, 66%);
    text-align: center;
}

.advantage-with-icon img {
    display: block;
    margin: 4rem auto 6px;
}

.using-companies {
    display: flex;
    flex-direction: column;
    margin-top: 6rem;
}

.using-companies img {
    max-width: 150px;
    margin: 1rem auto 3rem;
    display: block;
    padding: 0 5px 0 5px;
}

.footer {
    background-color: #f5f6f8;
    margin-top: 8rem;
}

.quick-links img {
    max-width: 50px;
    display: block;
    padding: 2rem 0 2rem 0;
    margin: auto;
}

.quick-link-options a {
    text-decoration: none;
    /* display: flex;
    flex-direction: column; */
    display: block;
    font-size: 20px;
    font-family: "Bai Jamjuree";
    margin: 1rem 0 0.2rem 0;
    /* margin: auto; */
    text-align: center;
    color: hsl(201, 11%, 66%);
}

.social-platform-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-platform-list img {
    display: inline-block;
    margin: 50px 15px 40px 30px;
}

@media screen and (min-width:550px) {

    .content h3 {
        font-size: 30px;
    }

    .download-buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: -20px;
    }

    .download-buttons button {
        display: inline;
        margin: 2rem 10px 0 10px;
    }

    .above-button {
        margin: 2rem 10px 0 10px;
    }

    .advantages>div {
        /* margin-top: 1rem; */
        position: relative;
        top: 5rem;
    }

    .advantages {
        display: flex;
        margin-top: 4rem;
    }

    .advantages h3 {
        text-align: center;
        padding: 0;
        margin: 0 0 0 5rem;
    }

    .advantages p {
        text-align: center;
        margin: 0.5rem 5rem 3rem 5rem;
    }

    .computer-image {
        max-width: 400px;
        padding: 0;
        /* margin: 2rem 1rem 0 4rem; */
        padding: 0.5rem 0 3rem 5rem;
    }

    .image-devices {
        /* max-width: 400px; */
        max-width: 480px;
    }

    .advantage-with-icon>div {
        display: flex;
    }

    .using-companies {
        /* display: flex; */
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    .app-store {
        display: flex;
        flex-direction: column;
    }

    .footer {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    /* .quick-links {
        margin: 0 0px 0 80px;
    } */

    .quick-links img {
        max-width: 40px;
    }

    .quick-link-options {
        display: grid;
        grid-template-columns: repeat(3, 160px);
        /* margin: 0 0 0 80px; */
    }

    #item1 {
        order: 0;
    }

    #item2 {
        order: 3;
    }

    #item3 {
        order: 1;
    }

    #item4 {
        order: 5;
    }

    #item5 {
        order: 2;
    }

    .quick-link-options a {
        text-align: left;
    }

    /* .social-platform-list {
        margin: -57px 0 0 20px;
    } */
}

/* .quick-links img {
        margin: 0 3rem 0 4rem;
    }

    .quick-link-options {
        display: grid;
        grid-template-columns: repeat(3, 180px);
        text-align: center;
    }

    .quick-link-options a {
        text-align: left;
    }

    #item1 {
        order: 0;
    }

    #item2 {
        order: 3;
    }

    #item3 {
        order: 1;
    }

    #item4 {
        order: 5;
    }

    #item5 {
        order: 2;
    }

    .social-platform-list {
        display: flex;
        flex-direction: row;
        margin: -40px;
    } */